<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Viewer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cards/css/cardViewer.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
</head>
<body>
    {% if heroes %}
    <div class="card-view-container">
        {% for hero in heroes %}
            <div class="hero-container">
                <div class="hero-title">
                    {{hero.name}} {%if hero.hero_team %} - {{hero.hero_team.team_name}} {% endif %}
                </div>
                {% if hero.herocard_set.all %}
                    <div class="card-flow">
                        {% for card in hero.herocard_set.all %}
                        <div class="card-container">
                            <div>
                                <img class="card-hero-image" src="{% static card.get_card_image_path %}" />
                            </div>
                            <div class="card-detail-container">
                                <div class="card-major-text">{{card.major_text}}</div>
                                <div class="card-attributes">
                                    Hero Class - {{card.get_hero_classes}}<br/>
                                    Base Recruit - {{card.base_recruit}}<br/>
                                    Base Attack - {{card.base_attack}}<br/>
                                    Cost - {{card.cost}} <br/>
                                    Quantity - {{card.quantity}} <br/>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    Hero contains no cards.
                {% endif %}
            </div>

        {% endfor %}
    </div>
    {% else %}
        <p>No card data is available</p>
    {% endif %}
</body>
</html>