{% extends "users\base.html" %}
{% block content %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" class="login-button" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="error-label">
        {% if form.errors %}
        Your username and password didn't match. Please try again.
        {% endif %}
    </div>

</form>

<div class="link-container">
    <div class="no-password-label">
        <a href="{% url 'password_reset' %}">Lost password?</a>
    </div>
    <div class="new-user-label">
        <a href="{% url 'register' %}">New User?</a>
    </div>
</div>


{% endblock %}