.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.login-container .login-banner{
    font-size: 48px;
    color: gold;
    text-shadow: 0 0 5px goldenrod;
    text-align: center;
}

.login-container .form-container {
    background: skyblue;
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 5px;
    margin: 0 auto;
    min-width: 300px;
}

.login-container .form-container .field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3px;
}

.login-container .form-container .error-label {
    color: red;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
    width: 300px;
}

.login-button {
    border-radius: 5px;
    display: block;
    font-size: 18px;
    font-variant: small-caps;
    margin: 0 auto;
    margin-top: 8px;
}

.login-container .form-container .link-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    margin-top: 3px;
}